body {
    background-color: #FFFFFF;
    background-image: url(../img/da-admin-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 65%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #1a1a1a;
}
.admin-signup-input {
    border: 0.75px solid #CAD4DD;
    border-radius: 5px !important;
} 
a {
    text-decoration: none;
}

@media (max-width:479px) {
    .admin-signup-input{
        border: 0.75px solid #1A1A1A;
    }
}

@media  (max-width: 479px) {
    body {
        background-color: #FFFFFF;
        background-image: none;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        color: #1a1a1a;
    }
    .admin-signup {
        background-color: #FFFFFF;
    }
    
}

.signup-primary-btn {
    background-color: #AF13AF;
    border: 2px solid #AF13AF;
    text-align: center;
    color: #FFFFFF;
}
.signup-primary-btn:hover {
    background-color: #DD18DD;
}
.signup-primary-btn:active {
    background-color: #EA3EEA;
}
.signup-primary-btn:disabled, .login-primary-btn[disabled] {
    background-color: #F49AF4;
}